#footer {
  position: fixed;
}

#main {
  overflow-y: scroll;
}

#dealers-list-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#dealers-list-container .dealers_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 50px;
  margin-bottom: 50px;
}
#dealers-list-container .dealer {
  width: calc(25% - 10px);
  /* align-items: center; */
  height: 150px;
  background-color: #F5F5F5;
  border-radius: 10px;
  font-size: 1em;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dealers-list-container .dealer h2 {
  margin: 0;
}
#dealers-list-container .dealer p {
  margin: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.dealer-checklist {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
}

.dealer-checklist.show {
  display: block;
}

.add-item-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-to-cities {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}